.advantages {
  @include wrapper(430px, 100%, $white, 20px);
}

.advantages__list {
  @include list-style();
}

.advantages__title {
  @include title-font();
  margin-top: 5px;
}

.advantages__text {
  max-width: 195px;
  padding-left: 80px;
  margin: 0 0 21px 0;
}

.advantages__item {
  @include text-font();
  min-width: 272px;
  position: relative;
  padding-bottom: 5px;

  &::before {
    @include pseudo(60px, 60px, -3px, 0, 0, 0);
    background: {
      color: $green;
      repeat: no-repeat;
      position: center;
      size: 49px 48px;
    }
  }
}

.advantages__item--healthy {
  &::before {
    background: {
      image: url("../../img/advantage-leaf@1x.png");
    }

    @media (min-resolution: $retina-dppx) {
      background: {
        image: url("../../img/advantage-leaf@2x.png");
      }
    }
  }
}

.advantages__item--easy {
  &::before {
    background: {
      image: url("../../img/advantage-powder@1x.png");
    }

    @media (min-resolution: $retina-dppx) {
      background: {
        image: url("../../img/advantage-powder@2x.png");
      }
    }
  }
}

.advantages__item--cheap {
  &::before {
    background: {
      image: url("../../img/advantage-dining@1x.png");
    }

    @media (min-resolution: $retina-dppx) {
      background: {
        image: url("../../img/advantage-dining@2x.png");
      }
    }
  }
}

.advantages__item--fast {
  &::before {
    background: {
      image: url("../../img/advantage-clock@1x.png");
    }

    @media (min-resolution: $retina-dppx) {
      background: {
        image: url("../../img/advantage-clock@2x.png");
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    @include wrapper(780px, 100%, $white, 30px);
  }

  .advantages__list {
    @include flex-row();
  }

  .advantages__text {
    @include base-font(16px, 1.5, $greyish-brown, $base-font);
    max-width: 245px;
    padding-left: 0;
    margin-top: 10px;
  }

  .advantages__title {
    @include base-font(60px, 1);
    padding-bottom: 3px;
    margin-top: 17px;
    margin-bottom: 79px;
  }

  .advantages__item {
    min-width: 46%;
    margin-top: 92px;
    padding: 0 0 120px 0;
    z-index: 1;

    &::before {
      @include pseudo(80px, 80px, -100px, 0, 0, 0);
    }

    &::after {
      @include pseudo(0, 0, -140px, 0, 0, 115px);
      z-index: -1;
    }

    &:last-child {
      padding-bottom: 47px;
    }
  }

  .advantages__item--healthy {
    &::after {
      @include base-font(281px, 1, $middle-grey);
      content: "1";
    }
  }

  .advantages__item--easy {
    &::after {
      @include base-font(281px, 1, $middle-grey);
      content: "2";
    }
  }

  .advantages__item--cheap {
    &::after {
      @include base-font(281px, 1, $middle-grey);
      content: "3";
    }
  }

  .advantages__item--fast {
    &::after {
      @include base-font(281px, 1, $middle-grey);
      content: "4";
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include wrapper(444px, 1220px, $white, 0);
  }

  .advantages__item {
    min-width: 245px;
    padding: 0;
  }

  .advantages__title {
    padding-bottom: 4px;
    margin-top: 0;
  }
}
