.catalog-produts__list {
  @include list-style();
}

.catalog-produts__item {
  @include wrapper(0, 320px, $white, 20px);
  @include flex-row();
  align-items: flex-start;
  height: 210px;
  border-top: 1px solid $light-gray;
}

.catalog-produts__title {
  @include base-font(16px, 1.25);
  padding-top: 20px;
  padding-bottom: 16px;
  text-transform: uppercase;
  max-width: 75px;
  margin: 0;
}

.catalog-produts__property {
  @include base-font(12px, 1.34, $greyish-brown, $base-font);
  width: 140px;
  min-height: 144px;

  p {
    @include flex-row();
    margin: 0;
  }
}

.catalog-produts__button {
  @include green-button;
  text-align: center;
  width: 100%;
  padding: 10px;
  max-height: 40px;
  margin-bottom: 24px;
}

.catalog-produts__foto {
  width: 140px;
  max-height: 142px;
}

@media (min-width: $tablet-width) {
  .catalog-produts__list {
    @include wrapper(2140px, 768px, $white, 0);
    @include flex-row();
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 75px;
  }

  .catalog-produts__item {
    @include wrapper(431px, 324px, $middle-grey, 0);
    border: none;
    margin-left: 30px;
    margin-right: 30px;
  }

  .catalog-produts__title {
    @include base-font(20px, 1);
    padding-top: 14px;
    padding-bottom: 21px;
    text-transform: uppercase;
    max-width: 135px;
    margin: 0 auto;
    text-align: center;
  }

  .catalog-produts__property {
    width: 250px;
    margin: 10px auto;

    p {
      @include flex-row();
      @include base-font(16px, 1.5, $greyish-brown, $base-font);
      justify-content: space-between;
      padding-bottom: 7px;
      border-bottom: 1px solid $light-pink;
      margin: 0;
    }
  }

  .catalog-produts__foto--small {
    width: 100%;
    padding: 0;
    height: 174px;
    margin: -47px auto 24px auto;
  }

  .catalog-produts__foto--big {
    width: 100%;
    height: 208px;
    margin: -82px auto 60px auto;
  }

  .catalog-produts__button {
    width: 235px;
    margin: 0 auto 25px auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog-produts__list {
    @include wrapper(1005px, 1220px, $white, 0);
    margin-top: 46px;
    margin-bottom: 82px;
  }

  .catalog-produts__item {
    @include wrapper(431px, 245px, $middle-grey, 0);

    &:nth-child(1n) {
      margin-left: 0;
    }

    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }

  .catalog-produts__foto--small {
    margin-bottom: 20px;
  }

  .catalog-produts__foto--big {
    margin-bottom: 55px;
  }

  .catalog-produts__property {
    margin: 20px auto;
    width: 169px;

    p {
      padding-bottom: 5px;
    }
  }

  .catalog-produts__button {
    width: 145px;
    margin: 0 auto 22px auto;
  }

  .catalog-produts__title {
    padding-bottom: 24px;
  }
}
