.extra {
  @include wrapper(642px, 100%, $white, 20px);
}

.extra__title {
  @include title-font(24px, 1);
  padding: 23px 0 18px 0;
  position: relative;
  margin: 0;

  &::after {
    @include pseudo(53px, 3px, 35px, 0, 0, 248px);
    background-color: $green;
  }
}

.extra__produts-list {
  list-style: none;
  padding: 0;
}

.extra__produts-item {
  @include wrapper(128px, 280px, $white, 0);
  @include base-font(14px, 1, $greyish-brown);
  border-bottom: 1px solid $light-pink;
  padding-bottom: 17px;
  margin: 0 auto;

  &:first-child {
    border-top: 1px solid $light-pink;
  }

  p {
    @include flex-row();
  }
}

.extra__produts-title {
  @include base-font(16px, 1, $black-three);
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;

  p {
    margin: 0;
  }
}

.extra__field,
.extra__value {
  @include text-font(14px, 1, $greyish-brown);
}

.extra__produts-button {
  @include green-button;
  text-align: center;
  width: 260px;
  padding: 10px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .extra {
    padding: 0;
  }

  .extra__produts-item {
    @include wrapper(140px, 708px, $white, 0);
    @include base-font(16px, 1.25, $greyish-brown);
    @include flex-row();
    align-content: space-around;
    border-left: 1px solid $light-pink;
    border-right: 1px solid $light-pink;

    p {
      display: inline-block;
      width: 50%;
      text-align: right;
      margin: 0;
      padding-top: 15px;
    }
  }

  .extra__field,
  .extra__value {
    @include text-font(16px, 1, $greyish-brown);
  }

  .extra__value {
    padding-right: 37px;
    padding-left: 48px;
  }

  .extra__produts-title {
    @include base-font(20px, 1, $black-three);
    display: inline-block;
    width: 30%;
    padding: 14px 0 0 38px;
  }

  .extra__title {
    @include title-font(36px, 1);
    padding: 0 0 63px 30px;
    margin: 0;
    margin-top: -5px;
    z-index: 0;

    &::after {
      @include pseudo(100%, 3px, 23px, 0, 0, 0);
      z-index: -1;
    }

    span {
      background-color: $white;
      padding: 0 35px;
    }
  }

  .extra__produts-button {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .extra {
    @include wrapper(488px, 1440px, $white, 0);
  }

  .extra__produts-list {
    @include wrapper(66px, 867px, $white, 0);
    margin-left: 110px;
    display: inline-block;
    margin-top: 75px;
  }

  .extra__produts-title {
    @include base-font(20px, 1, $black-three);
    display: inline-block;
    width: 170px;
    padding: 0;
  }

  .extra__produts-item {
    @include wrapper(73px, 894px, $white, 0);
    border-left: none;
    border-right: none;
    margin-bottom: 0;
    padding: 0;
    align-items: center;

    p {
      @include flex-row();
      width: 279px;
      padding-left: 155px;
      padding-top: 0;
    }
  }

  .extra__field {
    padding-right: 52px;
    text-align: left;
  }

  .extra__value {
    padding: 0;
  }

  .extra__produts-button {
    width: 222px;
    margin-bottom: 0;
    margin-left: 48px;
  }

  .extra__title {
    padding: 0 0 3px 67px;

    &::after {
      @include pseudo(100%, 3px, 20px, 0, 0, 0);
    }

    span {
      padding: 0 40px;
    }
  }
}
