.page-main__title {
  @include title-font();
  text-align: center;
  margin: 14px 0 18px -20px;
  padding-bottom: 10px;
}

.page-main__title--form {
  @include wrapper(61px, 100%, $white, 20px);
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    @include wrapper(61px, 100%, $white, 30px);
    @include base-font(60px, 1);
    text-align: left;
    padding: 50px 30px 98px;
  }

  .page-main__title--form {
    @include wrapper(61px, 100%, $white, 70px);
    padding-bottom: 58px;
    padding-left: 28px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title {
    @include wrapper(61px, 1440px, $white, 110px);
    padding-top: 70px;
    margin: 0 auto;
    padding-bottom: 118px;
  }

  .page-main__title--form {
    @include wrapper(61px, 1440px, $white, 110px);
    padding-bottom: 56px;
  }
}
