@import "./normalize";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./global";
@import "./blocks/advantages";
@import "./blocks/catalog-produts";
@import "./blocks/copyright";
@import "./blocks/example";
@import "./blocks/extra";
@import "./blocks/first-screen";
@import "./blocks/gift";
@import "./blocks/main-nav";
@import "./blocks/map";
@import "./blocks/page-footer";
@import "./blocks/page-header";
@import "./blocks/page-main";
@import "./blocks/partners";
@import "./blocks/program-selection";
@import "./blocks/products";
@import "./blocks/show-more";
@import "./blocks/site-list";
@import "./blocks/social";
@import "./blocks/stats";
