$white: #ffffff;
$black: #000000;
$green: #68b738;
$leaf: #5eaa2f;
$light-gray: #ededed;
$middle-grey: #f2f2f2;
$dark-gray: #666666;
$slider-gray: #eaeaea;
$greyish-brown: #444444;
$black-three: #222222;
$light-pink: #cdcdcd;
$pinkish-grey-two: #bababa;
$scale-gray: #dcdcdc;
$peachy-pink: #ff8282;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;


$retina-dppx: 1.5dppx;

$oswald-font: "Oswald", arial, sans-serif;
$base-font: arial, sans-serif;
